html, body {
  background-color: #333;
  margin: 0;
  padding: 10px;
}

h1, h2 {
  font-family: Trade Winds, sans-serif, serif;
  padding: 5px;
}

iframe {
  margin-top: 10px;
}

form {
  margin-top: 5px;
}

input {
  color: #90EE8F;
}